
@{
    ViewBag.Title = "ColorChooser";
}

<h2>Create a New Color</h2>

<h3>Please enter colors in HTML hexadecimal format: #AABBCC</h3>

@using (Html.BeginForm("ColorChooser", "Color", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("color1", "Color #1")
        @Html.TextBox("Color1", null, htmlAttributes: new { @class = "form-control", pattern = "#[0-9A-Fa-f]{ 3, 6}", type = "text", placeholder = "#eeffdd", required = "required" })


    </div>

    <div class="form-group">

        @Html.Label("color2", "Color #2")
        @Html.TextBox("Color2", null, htmlAttributes: new { @class = "form-control", pattern = "#[0-9A-Fa-f]{3,6}", type = "text", placeholder = "#eeffdd", required = "required" })

    </div>

    <button type="submit" value="" class="btn btn-primary">Mix Colors</button>

}


@if (ViewBag.show)
{
    <div class="row">

        <div class="col-sm-6" style="@ViewBag.shape"></div>

        <div class="col-sm-6" style="width:50px; height: 75px;"><h2>+</h2></div>

        <div class="col-sm-6" style="@ViewBag.shape1"></div>

        <div class="col-sm-6" style="width:50px; height: 75px;"><h2>=</h2></div>

        <div class="col-sm-6" style="@ViewBag.shape2"></div>


    </div>
}




