
@{
    ViewBag.Title = "ColorChooser";
}

<h2>Create a New Color</h2>

<h3>Please enter colors in HTML hexadecimal format: #AABBCC or #ABC </h3>

@using (Html.BeginForm("ColorChooser", "Color", FormMethod.Post))
{
    @* This is the breakdown of the Hexadecimal Color Code Regular Expression Pattern used below: "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$"

            ^		 #start of the line
         #		 #  must constains a "#" symbols
         (		 #  start of group #1
          [A-Fa-f0-9]{6} #    any strings in the list, with length of 6
          |		 #    ..or
          [A-Fa-f0-9]{3} #    any strings in the list, with length of 3
         )		 #  end of group #1
        $		 #end of the line
    *@



    <div class="form-group">
        @Html.Label("first_color", "First Color")
        @Html.TextBox("first_color", null, htmlAttributes: new { @class = "form-control", pattern = "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$", type = "text", placeholder = "#AABBCC", required = "required" })

    </div>

    <div class="form-group">

        @Html.Label("second_color", "Second Color")
        @Html.TextBox("second_color", null, htmlAttributes: new { @class = "form-control", pattern = "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$", type = "text", placeholder = "#DDEEFF", required = "required" })

    </div>

    <button type="submit" value="" class="btn btn-primary">Mix Colors</button>


}

@* this a comment *@

@if (ViewBag.show)
{
    <br />


    <div class="row" style="padding-left:20px;">

        <div class="col-sm-8" style="@ViewBag.firstInputColor;"></div>

        <div class="col-sm-8" style="width:50px; height: 75px;"><h2>+</h2></div>

        <div class="col-sm-8" style="@ViewBag.secondInputColor"></div>

        <div class="col-sm-8" style="width:50px; height: 75px;"><h2>=</h2></div>

        <div class="col-sm-8" style="@ViewBag.outputColor"></div>




    </div>
}
else
{
    <div class="row" style="padding-left:20px;">
        <font color="red"><h2>@ViewBag.message</h2></font>
</div>
}




