<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* This a razer language Hmtl.ActionLink which returns an anchor element to modify HTML Output via rendering an HTML link
                   Specifically "Homework 4" will be the text displayed as a navbar option, "Index" is the name of a controller function,
                   and "Home" is the name of the folder that contains the Views specified by the Index.cshtml file and Converter.cshtml files*@
                @Html.ActionLink("Homework 4", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @* This a razer language Hmtl.ActionLink which returns an anchor element to modify HTML Output via rendering an HTML link
                       Specifically "Converter" will be the text displayed as a navbar option, "Converter" is the name of a controller function,
                       and "Home" is the name of the folder that contains the Views specified by the Index.cshtml and Converter.cshtml files.*@
                    <li>@Html.ActionLink("Converter", "Converter", "Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
